body {
  margin-bottom: 30px;
}

h1 {
  padding-left: 30px;
  padding-right: 30px;
}

h2 {
  padding-left: 30px;
  padding-right: 30px;
}

p {
  padding-left: 30px;
  padding-right: 30px;
}

table {
  padding-left: 30px;
  padding-right: 30px;
}

thumbnail {
  padding-left: 30px;
  padding-right: 30px;
}

navbar {
  border-top: solid #0B6E50 5px;
}
